* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.global-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    position: relative;
    background-image: url(https://st2.depositphotos.com/1681644/9674/i/450/depositphotos_96748426-stock-photo-the-cascade-stairway-winter-scene.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.drone {
    width: 300px;
    height: 300px;
    position: absolute;
}

.camera {
    position: absolute;
    width: 90px;
    height: 45px;
    background: #03641b;
    border-radius: 15px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.camera::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 8%;
    width: 10%;
    height: 10px;
    background: white;
    border-radius: 10px;
    border: solid 1px black;
    animation: changes 2s linear infinite;
}

@keyframes changes {
    0%,
    50% {
        background: black;
    }
    50%,
    100% {
        background: red;
    }
}

.camera::after {
    content: "";
    position: absolute;
    bottom: 95%;
    left: 48%;
    transform: translateX(-50%);
    width: 50px;
    height: 18px;
    background: rgb(16, 3, 201);
    border-radius: 10px;
}

.camera span {
    position: absolute;
    top: 115%;
    left: 78%;
    transform: translate(-50px, -50px);
    width: 45px;
    height: 45px;
    background-color: #e7185d;
    border: solid black 12px;
    background: greenyellow;
    border-radius: 50%;
    z-index: 11;
}

.holder {
    position: absolute;
    top: 49%;
    left: 25%;
    transform: translateX(-50);
    width: 153px;
    height: 98px;
    border: 10px solid green;
    border-bottom: 10px solid transparent;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.holder::before {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 133px;
    height: 25px;
    background-color: green;
    border-radius: 5px;
}

.center {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translateX(-50%);
    width: 20%;
    height: 30px;
    background: green;
    border-radius: 10px;
}

.center::before {
    content: "";
    position: absolute;
    left: 31px;
    top: -20px;
    transform: translateX(-50%);
    width: 50%;
    height: 20px;
    background: red;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    animation: change 0.2s linear infinite;
}

@keyframes change {
    50%,
    100% {
        background: rgb(253, 253, 86);
    }
    50%,
    100% {
        background: rgb(172, 230, 230);
    }
}

.top {
    position: absolute;
    left: 50%;
    top: 138px;
    transform: translateX(-50%);
    width: 60%;
    height: 10px;
    background: green;
    border-radius: 20px;
}

.right-wings {
    position: absolute;
    left: 19%;
    top: 148px;
    width: 24px;
    height: 30px;
    background: green;
    border-radius: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.right-wings::before,
.left-wings::before {
    content: "";
    position: absolute;
    left: 40%;
    top: -45px;
    width: 7px;
    height: 40px;
    background: green;
    border-radius: 20px;
}

.left-wings {
    position: absolute;
    right: 19%;
    top: 148px;
    width: 24px;
    height: 30px;
    background: green;
    border-radius: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.shaft {
    position: absolute;
    width: 30px;
    height: 13px;
    background: green;
}

.shaft.left {
    top: -35px;
    left: -20px;
    border-top-left-radius: 80%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 5px;
}

.shaft.right {
    top: -35px;
    left: 17px;
    border-top-right-radius: 80%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 5px;
}

.wings-right {
    animation: animateRight 0.2s linear infinite;
}
@keyframes animateRight {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.bacground {
    background: #e7185d;
}
.btn-container {
    position: absolute;
    right: 150px;
    bottom: 10px;
}

.btn-top {
    position: absolute;
    top: -100px;
}

.right {
    position: absolute;
    top: -30px;
    left: 100px;
}

.left {
    position: absolute;
    top: -30px;
    right: 100px;
}
